.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e0f2fe; 
  /* cyan-100 */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #06b6d4; /* cyan-500 */
  border-radius: 4px;
  cursor: grabbing;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #0891b2; /* cyan-600 */
}
