.dashboard {
  margin-bottom: 10px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  gap: 16px;
  justify-content: start;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  border: 2px solid #a0a0a07d;
  width: 330px;
  padding: 10px;
  border-radius: 10px;
}

.product-description {
  max-height: 150px;
  margin-bottom: 10px;
  border-top: 1px solid #67676741;
  padding: 1px 0;
  overflow-y: auto;
}.product-description span {
  color: #676767;
  font-weight: 500;
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}.product-card-info .description {
    height: 100px;
  } 

.price-buy {
  display: flex;
  flex-direction: column;
  gap: 10px;
}.price-buy span {
  color: #0a0a0a;
}.price-buy p {
  font-weight: 700;
}.price-buy button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 255, 255, 0.277);
  color: white;
  font-weight: 900;
  font-size: 16px;
  color: darkcyan;
  border: 2px solid rgba(0, 139, 139, 0.478);
  cursor: pointer;
  transition: .1s;
}.price-buy button:hover {
  filter: brightness(.9);
}.price-buy button:active {
  filter: brightness(.8);
}

.amount-label, 
.user-wallet, 
.product-price {
  display: flex;
  gap: 5px;
  align-items: center;
}.amount-label {
    color: tomato;
  }.user-wallet {
    color: rgb(0, 175, 0);
  }.product-price, .product-price svg {
    color: rgb(0, 114, 0);
  }.amount-label svg, 
  .user-wallet svg, 
  .product-price svg {
      font-size: 20px;
    }
  .product-price .x {
    color: grey;
  }.product-price .amount {
    color: tomato;
  }

.big-box {
  margin-right: 30px;
}.big-box svg, .big-box {
  font-size: 40px;
}

.product-card .category-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buy-card {
  display: flex;
  width: 80vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}.buy-card img {
  width: 40%;
  height: 350px;
  align-self: center;
}.buy-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
}.close-buy-card {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  align-self: flex-end;
  border: none;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  color: gray;
}.close-buy-card:hover {
  color: rgb(135, 0, 0);
}.name-close {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.modal-overlay, .purchase-modal-overlay {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.6); 
  z-index: 99;
}

.purchase-modal-overlay {
  border-radius: 10px;
}

.purchase-confirm-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}.purchase-confirm-card .buttons {
    display: flex;    
    gap: 15px;
  }.purchase-confirm-card .buttons button[type='submit'],
   .purchase-confirm-card .buttons button[type='button'] {
      flex: 1;
    }.purchase-confirm-card .buttons button[type='button'] {
      background-color: transparent;
    }.purchase-confirm-card .buttons button[type='button']:hover {
        background-color: rgba(0, 255, 255, 0.256);
      }
    .purchase-confirm-card .buttons button[type='submit'] {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  .purchase-confirm-card p {
    padding: 0px 5px;
  }.purchase-confirm-card h3 {
    font-size: 22px;
  }


.buy-card-main-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.buy-card-main-info h3{
  font-size: 24px;
}

.category-date span,.category-date p {
  color: gray;
}

.price-amount {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #67676741;
  padding-top: 8px;
}

.transaction-dates {
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 10px;
}.transaction-dates .title {
  font-size: 18px;
  margin-bottom: 3px;
  font-weight: 600;
}.transaction-dates ul {
  font-weight: 400;
  padding-right: 10px;
}

.transaction-list-container {
  overflow-y: auto;
  min-height: 50px;
  max-height: 100px;
}.transaction-list-container li {
    display: flex;
    gap: 10px;
    align-items: center;
  }.transaction-list-container .date {
      color: rgb(42, 42, 42);
      font-weight: 600;
    }.transaction-list-container .dot {
      font-size: 10px;
      color: #797979;
    }.transaction-list-container .spent {
      color: rgb(255, 0, 0);
      font-weight: bold;
    }.transaction-list-container .amounts {
      color: tomato;
      font-weight: 700;
    }.transaction-list-container .spent-per-unit {
      color: rgb(0, 114, 0);
      font-weight: 700;
    }.transaction-list-container .right-arrow {
      color: #797979;
      font-size: 20px;
    }



.product-amount-before-buy {
  display: flex;
  align-items: center;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  padding: 5px;
  gap: 10px;
}.product-amount-before-buy .label-amount {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }.product-amount-before-buy .label-amount input {
      padding: 8px;
      text-indent: 15px;
      font-size: 18px;
      text-align: center;
      color: tomato;
      font-weight: 700;
      border: none;
      border-right: 1px solid #676767;
      border-left: 1px solid #676767;
    }.product-amount-before-buy .label-amount input:focus {
        outline: none;
      }
    .product-amount-before-buy .label-amount label {
      display: flex;
      align-items: center;
      gap: 5px;
    }.product-amount-before-buy .label-amount label svg {
        font-size: 24px;
        color: tomato;
      }
  .product-amount-before-buy .buy {
    flex: 1;
  }.product-amount-before-buy .cancel {
    background-color: transparent;
    flex: .5;
  }.product-amount-before-buy .cancel:hover {
    background-color: rgba(0, 255, 255, 0.339);
  }

.buy-button, .cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}.buy-button svg {
    font-size: 22px;
  }.cancel-button svg {
    font-size: 20px;
  }

.category-label {
  display: flex;
  align-items: center;
  gap: 3px;
}

.date-label {
  display: flex;
  gap: 3px;
}.date-label svg {
  font-size: 15px;
  margin-top: 1px;
}