.product-management {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 100%;
  margin-bottom: 20px;
}.product-management .product-management-main-container {
    display: flex;
    gap: 30px;
    margin: 0 20px;
    min-height: 55vh;
  }.product-management .product-management-main-container .action-buttons-to-crud {
      flex: 1;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      border-radius: 10px;
      border: 4px solid;
      cursor: pointer;
    }.product-management .product-management-main-container .action-buttons-to-crud:hover {
      filter: brightness(1.2);
    }.product-management .product-management-main-container .action-buttons-to-crud p {
      width: 70%;
    }.product-management .product-management-main-container .add {
        background-color: rgba(0, 128, 0, 0.100);
        color: green;
        border-color: green;
      }.product-management .product-management-main-container .remove {
        background-color: rgba(255, 0, 0, 0.105);
        color: darkred;
        border-color: darkred;
      }.product-management .product-management-main-container .edit{
        background-color: rgba(218, 165, 32, 0.132);
        color: darkgoldenrod;
        border-color: darkgoldenrod;
  }.action-buttons-to-crud .icon-action {
    display: flex;
    flex-direction: column;
  }.action-buttons-to-crud .icon-action span {
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
      font-size: 30px;
      font-weight: 700;
    }.action-buttons-to-crud .icon-action h4 {
      font-size: 20px;
    }
  
