.settings-nav {
  border-top: 2px solid #a0a0a0;
  border-bottom: 2px solid #a0a0a0;
  padding: 15px;
  padding-left: 20px;
  margin: 10px 0px;
}.settings-nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
  }.settings-nav button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: darkgoldenrod;
    font-weight: 600;
    cursor: pointer;
    transition: .1s;
  }.settings-nav .account-button,
  .settings-nav .security-button,
  .settings-nav .address-button {
    color: goldenrod;
  }.settings-nav button:hover {
    color: goldenrod;
  }.settings-nav button svg {
      font-size: 24px;
    }
  .settings-nav .dot {
    color: #a0a0a0;
  }

.account-tab h2, 
.security-tab h2, 
.address-tab h2 {
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
  }.account-tab h2 svg,
  .security-tab h2 svg,
  .address-tab h2 svg {
      font-size: 35px;
    }

.tab-main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 5px;
}.tab-main-container .info {
    display: flex;
    gap: 5px;
    align-items: center;
}.tab-main-container .dot {
    color: rgb(0, 135, 135);
  }.tab-main-container .info p {
      font-size: 18px;
      color: rgb(92, 92, 92);
    }.tab-main-container .info p:hover {
      text-decoration: underline;
  }.tab-main-container button {
      border: none;
      background-color: transparent;
      height: 25px;
      width: 25px;
      font-size: 25px;
      color: tomato;
      cursor: pointer;
    }.tab-main-container button:hover {
      color: orange;
  }.tab-main-container .info span {
      display: flex;
      align-items: center;
      gap: 5px;
      color: rgb(0, 135, 135);
      font-size: 19px;
      font-weight: 600;
    }

.setting-edit-modal {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 5px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 12px;
}.setting-edit-modal h3 {
    font-size: 25px;
  }.setting-edit-modal .label-input {
      display: flex;
      flex-direction: column;
    }.setting-edit-modal .label-input label {
      font-size: 18px;
      font-weight: 600;
      color: #707070;
  }.setting-edit-modal .label-input input {
    padding: 10px;
    font-size: 15px;
    border: 2px solid #a0a0a0;
    border-radius: 10px;
  }.setting-edit-modal .label-input input:hover {
      outline: none;
  }.setting-edit-modal .buttons {
    display: flex;
    padding-top: 5px;
    gap: 8px;
  }.setting-edit-modal .buttons button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 6px 18px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
    }.setting-edit-modal .buttons button[type='submit'] {
      color: tomato;
      border: 2px solid tomato;
      background-color: rgba(255, 166, 0, 0.150);
    }.setting-edit-modal .buttons button[type='button'] {
      color: darkred;
      border: 2px solid darkred;
      background-color: rgba(255, 0, 0, 0.150);
    }.setting-edit-modal .buttons button:hover {
      filter: brightness(.8);
    }

.modal-overlay {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.6); 
  z-index: 99;
}

.modal-error-message {
  display: flex;
  align-items: center;
  gap: 2px;
  color: red;
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}